<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
	<fieldset>
		<legend>{filter.title}</legend>

		<f:link.action arguments="{filter: filter.resetArguments}">{f:translate(key: 'LLL:EXT:ll_anthology/Resources/Private/Language/locallang.xlf:all')}</f:link.action>

		<f:for each="{filter.options}" as="filterOption">
			<f:link.action
				arguments="{filter: filterOption.filterArguments}"
				class="{f:if(condition: '{filter.parameter} == {filterOption.value}', then: 'active')}"
			>{filterOption.title}</f:link.action>
		</f:for>
	</fieldset>
</html>
