<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/vhs/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
	<f:variable name="filterFieldId">{filter.filterType}-{filter.uid}</f:variable>
	<fieldset>
		<label for="{filterFieldId}">{filter.title}</label>

		<f:form.select id="{filterFieldId}" name="filter[{filter.uid}]">
			<f:form.select.option value="">{f:translate(key: 'all')}</f:form.select.option>

			<f:for each="{filter.options}" as="filterOption">
				<f:form.select.option value="{filterOption.value}" selected="{f:if(condition: '{filter.parameter} == {filterOption.value}', then: true, else: false)}">{filterOption.title}</f:form.select.option>
			</f:for>
		</f:form.select>
	</fieldset>
</html>
