<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/vhs/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
	<f:form.radio name="filter[{filter.uid}]" id="filter-{filter.uid}-all" value="0" checked="checked" />
	<label for="filter-{filter.uid}-all">{f:translate(key: 'all')}</label>

	<f:for each="{filter.options}" as="category">
		<f:form.radio name="filter[{filter.uid}]" id="filter-{filter.uid}-{category.uid}" value="{category.uid}" checked="{f:if(condition: '{filter.parameter} == {category.uid}', then: true, else: false)}" />
		<label for="filter-{filter.uid}-{category.uid}">{category.title}</label>
	</f:for>
</html>
